<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.flutterfirst.weiv_example">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".WeiVApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true">
        <activity
            android:name="cn.flutterfirst.weiv_example.WeiVCounterKotlinActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.flutterfirst.weiv_example.WeiVCounterJavaActivity"
            android:label="weiV counter(Java)" />
        <activity
            android:name="cn.flutterfirst.weiv_example.embed.WeiVEmbedCounterKotlinActivity"
            android:label="weiV embed counter(Kotlin)" />
        <activity
            android:name="cn.flutterfirst.weiv_example.embed.WeiVEmbedCounterJavaActivity"
            android:label="weiV embed counter(Java)" />
    </application>

</manifest>