<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.flutterfirst.weiv_example">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name="cn.flutterfirst.weiv_example.WeiVCounterKotlinActivity"
            android:exported="true"
            android:label="weiV counter(Kotlin)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.flutterfirst.weiv_example.WeiVCounterJavaActivity"
            android:label="weiV counter(Java)" />
        <activity
            android:name="cn.flutterfirst.weiv_example.embed.WeiVEmbedCounterKotlinActivity"
            android:label="weiV embed counter(Kotlin)" />
        <activity
            android:name="cn.flutterfirst.weiv_example.embed.WeiVEmbedCounterJavaActivity"
            android:label="weiV embed counter(Java)" />
    </application>

</manifest>